*{padding:0;margin:0;}

body{
	width:100%;
	height:auto;
	margin:0px auto;
}

#container{
	height:auto;
	margin-top:0px;
}

#main{
	margin-top:120px;
	margin-left:40px;
	background:#FFF;
	color:#333;
	font-size:75%;
	width:700pt;
}

#top-bar{
	position:fixed;
	height:100px;
	background:#222;
	width:100%;
}
#top-bar,#main{
	float:left;
}

#top-container{
	margin-top: 35px;
	margin-left:8%;
}
.content_bottom{
	margin: 2px;
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: white;
	transition: 0.4s;
	width: 150px;
	text-align:center;
	border-radius: 10px 10px 10px 10px;
}


/*index, code publication共有*/
.card{
	width: 750px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 10px;
	font-size: 12px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 2px 1px #999;
}
.card:hover{
	box-shadow: 2px 2px 2px 1px #111;
	transform: translateY(-0.3px);
}
.message{
	margin-left:15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.title{
	margin-left:30px;
	text-decoration-color: black;
	font-size: 15px;
	text-decoration-line: underline;
	text-decoration-thickness: 1.5px;
}



/*index*/
.topic_tag{
	margin-left:30px;	
}

/*publication*/
.marker{
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: black;
	text-decoration-thickness: 1.5px;
}



/*code*/
.display{
	display: flex;
	align-items: center;
	height: 150px;
	width: 600px;
	padding: 10px;
	background: #fff;
	visibility: visible;
	border-top: 1px solid #555; 
	border-bottom: 1px solid #555;
	margin-left: 15px;
}
.illustration{
	margin: 0 20px 0 30px;
}



/*end*/
